<p-dialog header="Eredmény" [(visible)]="displayModal" (onHide)="setNextQuestions()" [modal]="true" [responsive]="true"
  [transitionOptions]="'200ms'" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  {{modalText}}
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Ok"></button>
  </p-footer>
</p-dialog>
<div class="container-fluid">
  <div class="row align-items-center flex-column">
    <p-panel class="col-lg-6 col-md-10 col-sm-12 col-12">
      <p-header style="text-align:center">
        <h2>Mértékegység átváltás feladatok</h2>
        <h3>6. osztályos tanulók számára</h3>
        <h2></h2>
      </p-header>
      <h2></h2>
      <div class="row align-items-center flex-column" *ngIf="!testStarted">
        <span class="ui-float-label">
          <input type="text" [(ngModel)]="userName" [disabled]="testStarted" pInputText>
          <label for="float-input">Mi a neved?</label>
        </span>
        <h2></h2>
        <button pButton type="button" [disabled]="userName.length < 2 || testStarted" label="Teszt indítása"
          (click)="startTest()"></button>
      </div>
      <div *ngIf="testStarted">
        <div style="text-align:center">
          <h3><strong>Szia {{userName}} !</strong></h3>
          <h3><strong>{{currentQuestionIndex}}. feladat.</strong></h3>
          <h4>&nbsp;</h4>
          <div [ngSwitch]="taskType">
            <div *ngSwitchCase="TASK_TYPE.UNIT_CONVERSION">
              <app-unit-conversion [event]="eventsSubject.asObservable()" (solutionEvent)="gotSolution($event)"
                [testFinished]="testFinished"></app-unit-conversion>
            </div>
          </div>

          <h2>&nbsp;</h2>
          <h4>{{endResult}}</h4>
          <h4>{{resultRate}}</h4>
          <div>Válaszra felhasználható idő még {{countdown / 1000}} másodperc</div>
        </div>
      </div>
    </p-panel>
    <div #scrollMe></div>
  </div>
</div>