<p-dialog header="Eredmény" [(visible)]="displayModal" (onHide)="setNextQuestions()" [modal]="true" [responsive]="true"
  [transitionOptions]="'200ms'" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <h1></h1>
  {{modalText}}
  <h1></h1>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Ok"></button>
  </p-footer>
</p-dialog>
<div class="p-grid">
  <p-panel class="p-col-6 p-offset-3">
    <p-header style="text-align:center">
      <h1>Matematika feladatok</h1>
      <h2>II. osztályos tanulók számára</h2>
      <h1></h1>
    </p-header>
    <h1></h1>
    <div *ngIf="!testStarted" class="ui-g ui-fluid p-offset-3">
      <div class="ui-g-12 ui-md-6">
        <span class="ui-float-label">
          <input type="text" [(ngModel)]="userName" size="10" [disabled]="testStarted" pInputText>
          <label for="float-input">Mi a neved?</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <p-button type="button" [disabled]="userName.length < 2 || testStarted" label="Teszt indítása" (onClick)="startTest()"></p-button>
      </div>
    </div>
    <div *ngIf="testStarted">
      <div style="text-align:center">
        <h2><strong>Szia {{userName}} !</strong></h2>
        <h2><strong>{{currentQuestionIndex}}. feladat.</strong></h2>
        <h2>Számold ki az eredményt!</h2>
        <h1></h1>
        <div [ngSwitch]="missingPlace">
          <div *ngSwitchCase="MISSING_PLACE.FIRST">
            <input type="text" class="bigFont" [(ngModel)]="userSolution" size="2" [disabled]="testFinished" pInputText>
            <span class="bigFont">{{operation}}</span>
            <span class="bigFont">{{secondNumber}}</span>
            <span class="bigFont"> = </span>
            <span class="bigFont">{{thirdNumber}}</span>
            <h1></h1>
          </div>
          <div *ngSwitchCase="MISSING_PLACE.SECOND">
            <span class="bigFont">{{firstNumber}}</span>
            <span class="bigFont">{{operation}}</span>
            <input type="text" class="bigFont" [(ngModel)]="userSolution" size="2" [disabled]="testFinished" pInputText>
            <span class="bigFont"> = </span>
            <span class="bigFont">{{thirdNumber}}</span>
            <h1></h1>
          </div>
          <div *ngSwitchCase="MISSING_PLACE.THIRD">
            <span class="bigFont">{{firstNumber}}</span>
            <span class="bigFont">{{operation}}</span>
            <span class="bigFont">{{secondNumber}}</span>
            <span class="bigFont"> = </span>
            <input type="text" class="bigFont" [(ngModel)]="userSolution" size="2" [disabled]="testFinished" pInputText>
            <h1></h1>
          </div>
        </div>

        <p-button type="button" label="Ok" (onClick)="checkSolution()" [disabled]="testFinished"></p-button>
        <h1></h1>
        <h2>{{endResult}}</h2>
        <h1></h1>
        <h3>Válaszra felhasználható idő még {{countdown / 1000}} másodperc</h3>
      </div>
    </div>
  </p-panel>
</div>